---
import CardItem from "./CardItem.astro";

const {items} = Astro.props;
const itemsSort = items.sort((a:any, b:any)=>{
    if(a.name < b.name) { return -1; }
    if(a.name > b.name) { return 1; }
    return 0;
})
---

<div id="main" class="flex justify-between flex-wrap ml-0 sm:ml-56 p-6 h-full min-h-[92vh]">
  <div class=" w-full h-full grid gap-4 grid-cols-1 sm:grid-cols-2 auto-cols-fr lg:grid-cols-4">
    {
      itemsSort.map((item:any) => (
        <CardItem
        category={item.category}
        name={item.name}
        link={item.link}
        image={"../../images/captura-"+item.name.toLowerCase().replace(/ /g,"")+".webp"}
        description={item.description}
        youtube={item.youtube}
        github={item.github}
        style={`view-transition-name: ${item.name+item.link}`}
        />
      ))
    }
  </div>
</div>
